body,
html {
  // height: 100vh;
  overflow-x: hidden !important;
}

.chat {
  &-wrap {
    background: $primary-light;
    position: relative;
  }
  &-content {
    // height: 63vh;
    height: calc(100vh - 260px);
    overflow-y: scroll;
    overflow-x: hidden;
  }
  &-input-wrap {
    // width: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 77px;
    padding: 0 20px;
    @include view-576 {
      width: 100%;
    }
  }
  input {
    box-shadow: 0 0 27px 5px rgba(112, 112, 112, 0.2);
    &:active,
    &:focus {
      box-shadow: 0 0 27px 5px rgba(112, 112, 112, 0.2);
    }
  }
}

.splide {
  &-img-wrap {
    border-radius: 20px;
    overflow: hidden;
    // border: 2px solid #272727;
    // box-shadow: 5px 5px 0px -1px #272727;
  }
}

.mes-box {
  max-width: 450px;
  height: auto;
  background: #c5c5c5;
  border-radius: 10px;
  padding: 15px;
  margin: 10px 15px;
  text-align: justify;
}

.keyword-list {
  overflow-x: scroll;
  padding-bottom: 10px;
  //@ scroll bar @//
  ::-webkit-scrollbar {
    width: 3px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #c2c2c2;
    border-radius: 5px;
  }
}
