//* 基本標籤 reset
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Noto Sans TC", "Poppins", sans-serif !important;
  // font-family: 'Poppins', sans-serif;
}

body,
html {
  font-family: "Baloo 2", cursive;
}

//@ dark mode
div[data-theme="dark"] {
  html,
  body,
  div {
    background: $dark !important;
    color: #fff !important;
  }
  .message-box {
    .text {
      border: 1px solid #fff;
    }
    span {
      color: #fff;
    }
  }
  // .card,
  .weather-box {
    border: 1px solid #fff;
  }
  .loading {
    background: rgba(255, 255, 255, 0.9);
  }
  .light-box {
    background: #fff !important;
    color: $dark !important;
  }
  .chat-input-icon,
  .love-icon,
  .arrow-left,
  .clear {
    path {
      fill: #fff !important;
    }
  }
  .clear {
    color: #fff !important;
    span {
      color: #fff !important;
    }
  }
  .nav {
    &-btn {
      box-shadow: none;
    }
    .active {
      box-shadow: none;
    }
  }
}

input,
button {
  cursor: pointer !important;
  &:active,
  &:focus {
    border: none;
    box-shadow: none;
    border: 0px;
  }
}

//@ img @//
.img {
  &-circle-mask {
    border-radius: 50%;
    overflow: hidden;
  }
}

//@ scroll bar @//
::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #c2c2c2;
  border-radius: 5px;
}
