.splide {
  &__pagination {
    position: absolute;
    bottom: -30px;
    justify-content: start !important;
    &__page.is-active {
      background: #7383c0 !important;
    }
  }
  &__slide {
    width: 400px !important;
  }
}
